* {
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0;
    background: #000;
}

header h1 {
 color: #81EBFC;
 text-align: center;
 margin: 2.5%;
}

#container {
  margin: 0 5% 5%;
  border-radius: 4px;
  background: #808080;
  width: 90%;
  height: 500px;
  color: #000;
}
